{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class= "container_fluid bg-success">
        <div class="col">
            <div class="row">
                <div class="text-center">
                    <h1 class="">Bienvenue sur le site de Noel & Cie</h1>  
                     <p class="small">Les meilleurs produits du marche</p>
                </div>
            </div>
            <div class="row"> 
            {% for boule in boules %}
                 <div class="col my-4 mx-5">     
                   <img class="rounded-circle" src="{{ boule.photo }}" width="170" height="150">
                </div>
                 
                {% endfor %}
            </div>
        
        </div>
    </div>

{% endblock %}
